.spinner {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #474bff);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 7.5px), #000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 7.5px), #000 0);
    animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
    to {
        transform: rotate(1turn);
    }
}