.condition-day {
    border-bottom: 3px solid #9c27b0 !important;
}

.react-calendar__month-view {
    border: 3px solid #FFDC00;
    padding: 24px;
    border-radius: 12px;
}

.react-calendar__tile {
    
}

.react-calendar__tile--active {
    background: none !important;
    color: inherit !important;
}

.react-calendar__tile {
    padding: 10px !important;
    position: relative;
}

.react-calendar__tile:hover {
    background-color: #FFEB3B !important;
    border-radius: 8px !important;

    border: none !important;
    border-radius: 8px !important;
    color: #9c27b0 !important;
}

.react-calendar__tile:hover abbr {}

.react-calendar__month-view__days {
    padding: 5px 16px;
    gap: 10px 0;
}

.react-calendar__month-view__days__day--weekend {
    color: inherit;
}

.react-calendar__month-view__weekdays {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: #FFE95E;
    border-radius: 8px;

    font-size: 18px;
}

.react-calendar__month-view__weekdays__weekday {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    flex: 1;
    text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday:hover {
    color: #9c27b0;
}

.react-calendar__tile--now {
    background: none;
}

.today {
    background: none !important;
    border: 2px solid #FFEB3B !important;
    border-radius: 8px !important;
}